body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    box-sizing: border-box;
}

div.container{
    max-width: 970px;
    margin:auto;
    background-color: #fff;
    padding: 25px;
    height: 100vh;
    overflow-y: auto;
}
div.button-box{
    width: 600px;
    margin: auto;
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    float: left;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    float:right;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }

.student-box .student-list{
    display:none;
}

.student-box .start-text{
    margin-top:160px;
    text-align: center;
}
